@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@700&family=Open+Sans:wght@300&family=PT+Sans:ital@1&family=Roboto+Slab:wght@700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #B11313;
    color: #dfe1dc;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    padding: 1.5rem;
}

.link {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    transition: all 0.5s ease-in-out;
}

.menu:hover {
    transform: scale(1.2);
}

.video {
    opacity: 0.8;
}

.cast_image {
    display: flex;
    height: 400px;
    margin-top: 64px;
    padding: 6px;
    border-radius: 10px;
}

a {
    padding: 25px;
    text-decoration: none;
    color: #dfe1dc;
    font-family: 'PT Sans', sans-serif;
}


.intro-image {
    background-image: url('../img/img11.webp');
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.cast-image {
    background-image: url('../img/img33.webp');
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

}

.introlink {
    background-color: #c4443879;
    color: #dfe1dc;
    padding: 1rem 2rem;
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

.introlink:hover {
    transform: scale(1.2)
}


.intro-text {
    display: flex;
    background-color: #B11313;
    color: #ececec;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;

}


.text {
    width: 70vw;
}

.intro-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* footer */
.hr {
    width: 100%;
    color: #DF1F2D;
}

.footer {
    align-items: center;
    background-color: #B11313;
    color: #dfe1dc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
}


.footer ul li {
    padding-top: 24px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.contact {
    padding-bottom: 24px;
}

.team {
    padding-top: 24px;
}

.footer ul li:hover {
    transform: scale(1.2);
}

.footer ul li a {
    color: #dfe1dc;
    text-decoration: none;
}

@media (max-width: 520px) {
    .intro-image {
        background-attachment: scroll;

    }

    .cast-image {
        background-attachment: scroll;
    }


    .link {
        flex-direction: column;
    }

    .introlink:hover {
        transform: none;
    }
}