@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@700&family=Open+Sans:wght@300&family=PT+Sans:ital@1&family=Roboto+Slab:wght@700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #B11313;
    color: #dfe1dc;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    padding: 1.5rem;
}

.link{
    display: flex;
    flex-wrap: wrap;
}



a {
    padding: 25px;
    text-decoration: none;
    color: #dfe1dc;
    font-family: 'PT Sans', sans-serif;
}


.intro-image {
    background-image: url('../img/image\ \(1\).png');
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.introlink {
    background-color: #c4443879;
    color: #dfe1dc;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

.introlink:hover {
    transform: scale(1.2)
}


.intro-text {
    display: flex;
    flex-direction: column;
    background-color: #B11313;
    color: #ececec;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.text{
    width: 70vw;
}

.intro-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* järgmine vahe */
.quality-image {
    height: 80vh;
    background-image: url('../img/img1.png');
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

}

.qualitylink {
    text-decoration: none;
    background-color: #694c6b69;
    color: #dfe1dc;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;

}

.qualitylink:hover {
    transform: scale(1.2)
}

.quality-text {
    display: flex;
    flex-direction: column;
    background-color: #B11313;
    color: #ececec;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

span {
    font-weight:900;
    color: #ffffff;
}

.quality-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* footer */
.footer {
    align-items: center;
    height: 100px;
    background-color: #B11313;
    color: #dfe1dc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
}


.footer ul li {
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.contact p {
    padding: 10px;
}

.footer ul li:hover {
    transform: scale(1.2);
}

.footer ul li a {
    color: #dfe1dc;
    text-decoration: none;
}
