@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@700&family=Open+Sans:wght@300&family=PT+Sans:ital@1&family=Roboto+Slab:wght@700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}


.navigation {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    height: 100%;
    background-color: #c85752;
    color: #dfe1dc;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    padding: 1rem;
}



a {
    padding: 25px;
    text-decoration: none;
    color: #dfe1dc;
    font-family: 'PT Sans', sans-serif;
}


.intro-image {
    background-image: url('../img/img3.jpg');
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.introlink {
    background-color: #c4443879;
    color: #dfe1dc;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

.introlink:hover {
    transform: scale(1.2)
}


.intro-text {
    height: 300px;
    background-color: #c85752;
    color: #dfe1dc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.intro-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* järgmine vahe */
.quality-image {
    height: 70vh;
    background-image: url('../img/img4.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

}

.qualitylink {
    text-decoration: none;
    background-color: #694c6b69;
    color: #dfe1dc;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;

}

.qualitylink:hover {
    transform: scale(1.2)
}

.quality-text {
    height: 300px;
    background-color: #a78f9d;
    color: #dfe1dc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

span {
    font-weight: bolder;
    color: #cccec9;
}

.quality-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* footer */
.footer {
    align-items: center;
    height: 100px;
    background-color: #c85752;
    color: #dfe1dc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
}


.footer ul li {
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.contact p {
    padding: 10px;
}

.footer ul li:hover {
    transform: scale(1.2);
}

.footer ul li a {
    color: #dfe1dc;
    text-decoration: none;
}


/* origin */

/* .origin-image {
    height: 450px;
    background-image: url('../img/img5.webp');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

}

.originlink {
    text-decoration: none;
    background-color: #3c4a5450;
    color: #dfe1dc;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

.originlink:hover {
    transform: scale(1.2)
}

.origin-text {
    height: 250px;
    background-color: #555765;
    color: #dfe1dc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.origin-text h3 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
} */